// $Id$
// /***** Tabs ****/

// /** Tables **/
.ui-accordion .normal,
.ui-accordion .normalnoborder,
.ui-accordion .admin {
	width: auto;
}

// /** Tables **/
td.italiclabel {
	text-align: right;
	padding-right: 5px;
	font-style: italic;
}

.normal td,
.wikitable td,
.odd,
.even,
.form,
.editblogform td {
	margin: 0;
	padding: 3px;
}

.normal td,
.wikitable td,
td.odd,
td.even {
	padding: 0.2em;
	border-collapse: collapse;
}

td.form {
	padding: 0.2em;
}

td.integer {
	text-align: right;
}

td.checkbox-cell {
	text-align: center;
	width: 20px;
	position: relative;
}

td.action {
	white-space: nowrap;
}

td.norecords {
	text-align: left;
	font-weight: bold;
}

td.id, td.icon {
	text-align: center;
}

td.third,
td.heading,
tr.diffheader {
	text-align: center;
}

td.numeric {
	text-align: right;
	padding-right: 1px;
}

/*	Chrome & safari do not break urls or filenames at all. This causes
	serous display issues within tables with long urls/filenames.*/
td.url{
	word-break: break-all;
}

.normal.item th {
	text-align: right;
	padding: .2em .5em;
}

.normal.item td {
	text-align: left;
	padding: .2em .5em;
}

// /* odd and even classes for tr, td, and li */
// .odd {
//   background: @table-bg;
//   color: @text-color;
// }
//
// .even {
//   background: @table-accent-bg;
//   color: @text-color;
// }
#score-table tbody.event-section tr:first-child{
  background: $gray-200;
  color: $black;
}
#score-table .condition-row, .table .advanced-row {
 padding: 1em;
}
#score-table .condition-row td {
  border-bottom: none;
}
#score-table .advanced-row td {
  border-top: none;
}

#score-table .chosen-container {
	width: 50% !important;
}

@media (min-width: breakpoint-min(lg)) {
	.table-responsive > #score-table {
		table-layout: auto;
	}
}

@media only screen and (max-width: breakpoint-max(sm)) {
	.table-responsive.large-table {
//		.table, tbody { display: block; }
		.table:not(.tablesorter) {
			thead, tbody {
				th {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
			}

			thead tr {
				display: block;
				padding: 0.5rem 0 0;
				background-color: $table-accent-bg;
			}

			tbody {
				tr { display: block; border-bottom: 1px solid $border-color; }
				> tr.active { display: none; }

				tr:not(:nth-child(1)) {
//					display: block;
					padding: 0.5rem 0;
				}

				td {
					display: block;
					padding: 0.25rem 0.75rem 0.5rem;
					border-top: none;
					text-align: left !important;
					position: relative;
					&:after {
						display: block;
						clear: both;
						content: "";
					}
//					&.action:not(:nth-child(1)) { display: none; }
				}

				.header { display: block !important; font-weight: bold; }
				.hidecell { display: none; }
				.float-right { float: none !important; }
				.checkbox-cell {
					.form-check { padding-left: 0; }
					.form-check-input {
						position: static;
						margin-left: 0;
					}
				}
			}
		}
	}
}
