// $Id$ Custom variables for the FiveAlive theme

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$light: $gray-300; // transparent;

$primary: #1174a5;
$secondary: #6400a5;
$success: #3fa533;
$info: #4d3a7d;
$warning: #c3a124;
$danger: #c3631f;

$theme-colors: (
 	"primary":        	#1174a5,
 	"secondary": 		#6400a5,
 	"success":         	#3fa533,
 	"info":           	#4d3a7d,
 	"warning":         	#c3a124,
 	"danger":          	#c3631f//,
//	"light":			#ffffff,
// 	"dark":				#000000
);

// Options
// Spacing

// Body
$body-color: $gray-800;

// Links
$link-hover-decoration: none;
// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Fonts
$font-family-sans-serif: Lato, sans-serif;
$headings-font-weight:    600;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-bg:                 #2098cd;
$btn-link-disabled-color:		 #777777;

// Forms
$input-color-placeholder: 		#777777;

// Dropdowns
$dropdown-bg: #1376a8;
$dropdown-link-color: $gray-200;
$dropdown-link-hover-color: #ffffff;
$dropdown-link-hover-bg: darken(#1376a8, 10%);
$dropdown-link-active-bg: #0e567a;
$dropdown-header-color: #fff;
// Navs
$nav-tabs-border-color:             $gray-300;
// Navbar
$navbar-height:     54px;
//$bg-dark: #043b5a;
$navbar-dark-border: none;

// Navbarlinks ??
$nav-link-padding-y: 				0.9rem;
$navbar-dark-color:                #efefef;
$navbar-dark-hover-color:          #fff;
$navbar-dark-hover-bg:             #000; // transparent;

// Navbar toggle
$navbar-dark-toggle-hover-bg: #dddddd;
$navbar-dark-toggle-icon-bar-bg: #888888;
$navbar-dark-toggle-border-color: #dddddd;


// Pagination
// Jumbotron
// Cards
$card-header-bg: transparent;
//$card-border-radius: $border-radius-lg;
$card-text: $body-color;
$card-header-bg: transparent;
//$card-bg: transparent;
//$card-border-color: transparent;
//$card-inner-border: transparent;
$card-spacer-y: 0.5rem;
$card-spacer-x: 1rem;

// Tooltips
// Popovers
$popover-body-color: $body-color;

// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$enable-gradients: true;
$enable-shadows: true;

// - - - - - - - - - - Tiki selector variables ( for _tiki-selectors.scss ) - - - - - - - - - //
$imagePath: "../images/";
$side-column-border: none;
$side-column-card-header-background: #ffffff;
// #f5399c
$side-column-card-header-color: #1174a5;
// #3f1020;
$side-column-card-header-border-color: #1174a5;
$side-column-card-header-border-width: 0 0 1px 0;
$header_outer-background: darken(#28aae1, 10%);
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$header-color: #ffffff;
$topbar_container_background: #28aae1;
$form-control-background: #f9dcec;
$form-control-border-colors: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
$footer-color: #696969;
$footer-border-color: #28aae1;
$footer-link-color: #a9a9a9;
$navbar-dark-navbar-nav-li-a-background: #28aae1;
$postbody-title-background: $header_outer-background;
$postbody-title-color: #000000;
// url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$brand-primary-of-option: $primary;
$navbar-default-link-background: $navbar-dark-navbar-nav-li-a-background;
$side-column-border: none;
$topbar_container_background: $navbar-dark-navbar-nav-li-a-background;
$navbar-fixed-height: 46px;
// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
$bg-dark: #1174a5;